.spacer{
    height: 4px;
    background-color: black;
    border: solid black 1px;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 16px;
}

.spacer2{
    height: 2px;
    background-color: black;
    border: solid black 1px;
    width: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
}

#enchilada{
    border: solid   red     2px;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
}

#tablediv{
    border: solid   blue    2px;
    /*display: block;*/
    width: 90%;
    /*alignment: center;*/
    margin: auto;
}

.content{
    border: solid   green   2px;
}

.card-header{
    min-height: 105px;
}

.card-body{
    min-height: 75px;
    border: solid   green  1px;
}

.table-content-text{
    border: solid   silver  1px;

}

.table-content{
    min-height: 75px;
}

.blankdiv, .content, .table-content-text, .table-content{
    margin: 0px;
    padding: 0px;
    /*max-width: 16px;*/
}

p{
    border: solid   orange  2px ;
    min-height: 75px;
}

body{
    background: black;
    color: gold;
}

#title{
    font-size: 48px;
}

